* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #191D28;
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    height: 100vh;
}

.main-container
{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.logo 
{
    color: #00cccc;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
    padding:20px;
}

.controls
{
    display:flex;
}

@media screen and (min-width:700px)
{
    .main-container
    {
        flex-direction:row;
        justify-content:space-evenly;
    }
}

.controls div {
    padding: 10px 20px;
    background-color: #2a2e37;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;  
    margin:10px; 
}

.circle {
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px;
    border: 3px solid #00cccc;
    color: #00cccc;
    text-align: center;
  }

  .container-3
  {
      display:flex;
      justify-content:center;
      align-items:center;
  }

  .telegram-btn 
  {
      background-color:#00cccc;
      color:#fff;
      height:35px;
      width:145px;
      border-radius:6px;
      font-family: "Roboto Condensed", sans-serif;
      border:none;
      cursor: pointer;
      font-weight:500;
      font-size:15px;
      margin:20px;
  }
  
  .switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    height: 1em;
    width: 2em;
    background: #00cccc;
    border-radius: 1em;
  }

  .switch input {
    position: absolute;
    opacity: 0;
  }
  
  
.switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
            transition: all 300ms;
  }

  
.switch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  
.content-container 
{
    display:flex;
    justify-content:center;
}


.heading
  {
      padding-top:20px;
      color:#818389;
      font-size:20px;
  }

.trading-container
{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:30px;
}
.trading
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-size:9px;
    padding:6px;
}

.time 
{
    color:#818389;
    font-weight:400;
    font-size:8px
}

.amount-time
{
    margin-top:10px;
    color:#818389;
    width:100px;
    font-size:8px;
}

.trading h2 
{
    color:#00cccc;
}


@media screen and (min-width:700px)
{
    .heading
    {
        font-size:30px;
    }
    .trading
    {
        font-size:20px;
    }
    .trading-container
    {
        width:100%;
        margin:0px;
        margin-top:40px;
        gap:35px;
    }
    .time 
    {
        font-size:15px;
    }
    .amount
    {
        font-size:50px;
        margin-top:0px;
    }
    .amount-time{
    color:#818389;
    font-weight:400;
    margin-top:20px;
    font-size:17px;
    width:300px;
}
}

.table-container {
    overflow-x: auto;
    white-space: nowrap;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin: 0 auto;
}
th,td {
    padding: 12px 15px;
    text-align: center;
    border:none;
   
}

tbody tr {
    background-color: #2E3241;
    border-radius: 15px;
}

tbody tr td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

tbody tr td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

th {
    font-size: 25px;
    color: #818389;
}


/* td 
{
    background-color:#2E3241;
    margin:5px;
    border-radius:20px;
}

th 
{
    font-size:25px;
    color:#818389;
} */

.positive {
    color:#52C7C2;

}
.negative {
    color: #DA5757;
}
.image 
{
    height:30px;
    margin-right:10px;
}

.table-image 
{
    display:flex;
    align-items:center;
}